/* Stylesheet URI: //moneymakingpillars.github.io/vinna-amazon-presentkort-sverige/ */
body {font-size:16px;font-size:110%;font-family:Verdana,Arial,Sans-Serif}
img {width:auto;max-width:100%;height:auto}
a,a:visited {color:#0000cc}
a:hover {color:#006600;text-decoration:underline}
.alignright {float:right;padding:6px 0 6px 10px}
.alignleft {float:left;padding:6px 10px 6px 0}
.aligncenter {display:block;text-align:center;margin:0 auto;padding:0.2em}
.smalltext {font-size:0.85em}
.discl {display:block;text-align:center;font-size:0.82em;font-style:italic;padding:10px 0}
#wrap {width:94%;max-width:1100px;margin:0 auto;padding:0}
#wrap p {font-size:1em;text-align:justify;line-height:1.5em}
#wrap h1 {font-size:1.4em;padding:15px 0 20px}
#wrap h1 a,a:hover {text-decoration:none}
#wrap h2 {font-size:1.3em;padding:15px 0}
#wrap h3 {font-size:1.25em;padding:15px 0}
#wrap h4 {font-size:1.22em;padding:15px 0}
#wrap h5 {font-size:1.18em;padding:15px 0}
#wrap ul li {line-height:1.5em}
#wrap ol li {line-height:1.5em}
#header {background:#fff;height:20px;width:100%;border-bottom:#bbb 1px solid;margin:0;padding:0}
#nav ul {margin:6px 0 16px;padding:0}
@media screen and (max-width:800px) {#nav ul li {display:block;text-align:right;line-height:1.8em}}
@media screen and (min-width:801px) {#nav ul li {display:inline}}
#nav ul li {list-style-type:none;margin:0 0 2px;padding:0 5px}
#nav2 ul {margin:6px 0 16px;padding:0}
@media screen and (max-width:800px) {#nav2 ul li {line-height:2em;}}
@media screen and (min-width:801px) {#nav2 ul li {line-height:1.5em;}}
#nav2 ul li {list-style-type:none;display:block;margin:0 0 2px;padding:0 5px}
#foot {background:#fff;height:auto;width:100%;border-top:#bbb 1px solid;margin:0 auto;padding:4px 10px}
#foot ul {list-style:none;text-align:left;margin:0 auto;padding:6px}
@media screen and (max-width:800px) {#foot ul li {font-size:1em;line-height:2em;}}
@media screen and (min-width:801px) {#foot ul li {font-size:0.9em;line-height:1.4em;}}
#foot ul li,#foot ul li a {list-style-type:none;display:block;margin:0 0 2px;padding:0 5px}
#foot ul li a:hover {color:#006600;text-decoration:underline}